@model PortfolioCore.Entities.Education
@{
    ViewData["Title"] = "CreateEducation";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}
<h2> Eğitim Bilgisi Ekleme Sayfası</h2>
<form method="post">
    <label>Okul</label>
    <input type="text" class="form-control" asp-for="Title" style="border:1px solid black;" />
    <br />

    <label>Tarih</label>
    <input type="text" class="form-control" asp-for="DateInfo" style="border:1px solid black;" />
    <br />

    <label>Bölüm</label>
    <input type="text" class="form-control" asp-for="SubTitle" style="border:1px solid black;" />
    <br />

    <label>Açıklama</label>
    <textarea class="form-control" asp-for="Description" rows="15" style="border:1px solid black;"></textarea>
    <br />

    <button class="btn btn-primary">Eğitim Bilgisi Kaydet</button>
</form>
