@model PortfolioCore.Entities.Education

@{
    ViewData["Title"] = "UpdateEducation";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Eğitim Bilgisi Güncelleme Sayfası</h2>
<form method="post">
    <input type="hidden" asp-for="EducationId" />

    <label>Başlık</label>
    <input type="text" class="form-control" asp-for="Title" style="border:1px solid black;" />
    <br />

    <label>Bölüm</label>
    <input type="text" class="form-control" asp-for="SubTitle" style="border:1px solid black;" />
    <br />

    <label>Başlangıç Tarihi</label>
    <input type="date" class="form-control" asp-for="DateInfo" style="border:1px solid black;" />
    <span asp-validation-for="DateInfo" class="text-danger"></span>
    <br />

    <label>Açıklama</label>
    <input type="text" class="form-control" asp-for="Description" style="border:1px solid black;" />
    <br />

    <button class="btn btn-primary">Eğitim Güncelle</button>
</form>

